button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $orange;
	border: none;
	border-radius: 7px;
	box-shadow: none;
	color: $lightgray;
	line-height: 1.6rem;
	padding: .4rem .75rem .2rem;
	text-transform:uppercase;
	font-weight:900;
	letter-spacing:.1rem;
	font-size:0.9rem;


	&:hover {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 15px 17px rgba(255, 255, 255, 0.2), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
	
	i {
		color:$lightgray;
	}
	
}

	/*.button {
		background: $orange;
		text-shadow: none;
		box-shadow: none;
		line-height: 2rem;
		font-size: 1rem;
		font-weight:900;
		color: #fff;
		text-transform: uppercase;
	}
*/
.gform_wrapper {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		
		li {
			padding-bottom:1.6rem;
			
			li {
				padding-bottom:0;
			}
		}
	}
	
	.gfield_error {
		background: $lightgray;
		color:$red;
		border-radius:7px;
	}
	
	
}