
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $orange;
	border: none;
	border-radius: 7px;
	box-shadow: none;
	color: white;
	line-height: 1.6rem;
	min-height:2rem;
	padding: 0rem .75rem 0rem;
	text-transform:uppercase;
	font-weight:300;
	letter-spacing:.1rem;


	&:hover {
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 15px 17px rgba(255, 255, 255, 0.2), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
	}

	&:active,
	&:focus {
		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
	}
	
	i {
		color:white;
	}
	
}

.button {
		background: $orange;
		text-shadow: none;
		box-shadow: none;
		line-height: 2.4rem;
		font-size: 1rem;
		font-weight:900;
		color: #fff;
		text-transform: uppercase;
		padding:1rem;
	}