input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 7px;
	padding: 0.25rem 0.5rem;
	font-size: 1.1rem;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
		padding: 0.25rem 0.5rem;

}

textarea,
input[type="text"],
select,
input[type="email"],
input[type="url"],
input[type="tel"] {
	width: 100%;
}

input[type="radio"],
input[type="checkbox"]{
	margin-right:0.75rem;
}

.ginput_complex label {
	color:$darkgray;
	font-size:0.9rem;
	margin: 0.25rem 0 0.75rem;
	display: block;
}

input[type="file"] {
	font-size:1rem;
	line-height: 1rem;
}

.ginput_container_time {
	width:30%;
	display:inline-block;
}