@import "buttons";

@import "fields";


label {
	color:#9cb4be;
	
	div {
		color:$darkgray;
	}
}

.gform_wrapper {
	max-width: 850px;
	margin:0 auto;
	
	ul {
		list-style: none;
		margin:0;
		padding: 0;
	}
	li {
		padding-bottom: 1.2rem;
	}

	input[type="text"],
	input[type="email"],
	input[type="submit"],
	textarea, 
	select {
		width:100%;
	}


}