// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/



.site-branding {
	text-align: center;
	
	img {
		width:10em;
		margin:0 auto;
	}
}

.site-title {
	margin:2rem;
}


.lead {
	background-color:$green;
    background: linear-gradient(  rgba(89,70,74, 0.2) , rgba(89,70,74, 1.0) ), url('./images/devices.jpg');
	background-size: cover;
	background-position: center;
	color:white;
	padding:1.5rem;
	
	h2 {
		font-weight: 900;
		@include font-size(2.4);
		line-height: 1em;
		padding-top:35vh;
		font-family: "museo-sans", sans-serif;
		text-transform: uppercase;
	}
	p {
		font-weight:100;
		font-family: "museo-sans";
	}
}

.feature {
	padding:1.5rem;
	font-weight:200;
	
	h3 {
		text-transform: uppercase;
		font-weight:900;
		color:$green;
	}
	
	.icon {
		display: block;
		margin:0 auto;
		max-width: 15rem;
	}
	
}

.about {
	padding:1.5rem;
	background:$darkred;
	color:$offwhite;
}

.contact {
	padding:1.5rem;
}

.site-footer {
	padding:1.5rem;
}