// @import "../layout/content-sidebar";
// @import "../layout/sidebar-content";
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
@import "primary/posts-and-pages";

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
@import "primary/comments";

/*--------------------------------------------------------------
## Header
--------------------------------------------------------------*/

.container {
	padding:1.2rem 1.2rem;
	max-width: 1100px
}

@media (min-width:700px) {
	
	.container {
		margin-left:auto;
		margin-right:auto;
	}
}

.hero {
	padding:2.4rem 0 1.2rem;
	background-color:#006684;
	background: linear-gradient(  transparentize(#006684, 0.2) , transparentize(#006684, 0.2)  ), url('./images/devices.jpg');
	background-size: cover;
	background-position: center;
	color:white;
	text-align: center;
	text-shadow: 1px 1px 1px transparentize(black, 0.75);

	
	h2 {
		color:white;
		font-weight: 100;
		font-size: 2.4rem;
		line-height: .9em;
		padding-bottom:0.1em;
		margin:.5em auto;
		font-family: "museo-sans", sans-serif;
		text-transform: uppercase;
		letter-spacing: 0.04em;
		border-bottom: 2px solid transparentize( white, 0.5 );
		max-width: 850px;
	}
	p {
		font-weight:100;
		font-family: "museo-sans";
		max-width: 850px;
		margin: auto;
	}
	
	button {
		background: transparent;
		font-size: 1rem;
		margin-top: 2rem;
		box-shadow: none;
		font-weight: 500;
		border: 2px solid white;
		color: white;
		border-radius: 9px;
		padding: 0.5rem 1rem;
	}
	
	button:hover, button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
		background: transparentize(white, 0.8);
	}	
}

.services {
	text-align: center;
	padding:3.6rem 0;
	color: #0F3E4A;
}

.service {
	font-weight:300;
	margin:0 auto 2.4rem;
	
	h3 {
		text-transform: uppercase;
		font-weight:900;
		color:#FF8000;
		margin:2.4rem 0 1.2rem;
		
	}
	
	.fa {
		border: 2px solid #ECEEEE;
		color:#9CB4BE;
		display:inline-block;
		padding:1.2rem;
		font-size: 3.6rem;
		border-radius: 10%;
		margin: auto;
	}

}

@media (min-width:700px) and (max-width:949px) {

	.hero {
		
	background: linear-gradient(  transparentize(#006684, 0.2) , transparentize(#006684, 0.2)  ), url('./images/devices-medium.jpg');
	background-size: cover;
	background-position: center;
		
		h2 {
		font-size: 5rem;
		}
	}
	
	.service {
				
		.fa {
			float:left;
			display: block;
			margin-left:2.4rem;
			margin-top:-.6rem;
		}
		h3, p {
			margin-left: 11rem;
			clear: none;
			text-align: left;
			
		}
	}
	
	.service::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
		margin-bottom: 4rem;
	
	}
}

@media (min-width:950px) {
	
	.hero {
		
	background: linear-gradient(  transparentize(#006684, 0.2) , transparentize(#006684, 0.2)  ), url('./images/devices.jpg');
	background-size: cover;
	background-position: center;		
		h2 {
			font-size: 80px;
			font-weight: 100;
			padding-top: 40px;
		}
		
		p {
			font-size:1.4rem;
		}
	}
	
	.service {
		width:33%;
		float:left;
		padding:1rem;
	}
	.services::after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;		
	}
}



.about {
	background: #5C5548;
	overflow: hidden;
	color:#F9EDD2;

	.container {
		padding: 0;
		max-width: 950px;
	}

	img {
		width: 100%;
		opacity: 0.40; 
		filter: alfa(opacity=40); /* For <IE9 */
		filter: grayscale(50%);
		display: block;
		z-index:1;
		position: relative;
	}

	p {
		margin:3.6rem 2.4rem;
		position: relative;
		z-index: 2;
	}
	.image-container {margin:-1.2rem;}
	
}


@media (min-width:500px) and (max-width:699px) { 
		.about {

		.container p {
			margin:2.4rem;
			margin-left:200px;
		}


		.container p.image-container {
			width:150px;
			margin:-2.4rem 0;
			float:left;
			margin-left:0;
		}

	}
}


@media (min-width:700px) {
		.about {

		.container p {
			margin:2.4rem;
			margin-left:400px;
		}


		.container p.image-container {
			width:350px;
			margin:-2.4rem 0;
			float:left;
			margin-left:0;
		}

	}
}




.ui-datepicker {
	background: #fff;
	
	.ui-datepicker-prev, ui-datepicker-month {
		padding-right:1rem;
	}
}
