h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight:300;
}


h1 {
	font-size:4rem;
	color:darkgray;
	border-bottom:3px solid darkgray;
	text-transform: uppercase;
	font-weight:100;
	line-height: 4rem;
	background:lightgray;
}

h2 {
	font-size:1.8rem;
	font-weight:900;
	color:lightblue;
	text-transform: uppercase;
}

h3 {
	font-size:1.8rem;
	font-weight:900;
	color:lightgray;
}

h4 {
	font-size:1.6rem;
}

h5 {
	font-size:1.66rem;
}

h6 {
	font-size:1.33rem;
}