.site-branding {
	text-align: center;
     /* margin-left:80px; */
     position: relative;
     z-index: 101;
     background: #fff;
     overflow: auto;
     padding:2.4rem;
	
	img {
		width:220px;
		margin: auto;
        display: block;
	}
}

.site-title {
    margin:0;
}
 