$lightblue: #6FD3E3;
$blue: #006684;
$darkblue: #0f3e4a;

$red: #C84121;
$darkred: #833020;

$yellow: #EBBE47;
$orange: #FF8000;

$gray: #DCD0C4;
$darkgray: #5c5548;
$lightgray: #f9edd2;


$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: $lightgray;
$color__background-button: $orange;
$color__background-pre: $lightgray;
$color__background-ins: #fff9c0;

$color__text-screen: $blue;
$color__text-input: $darkgray;
$color__text-input-focus: $darkblue;
$color__link: $blue;
$color__link-visited: $darkblue;
$color__link-hover: $lightblue;
$color__text-main: $darkgray;

$color__border-input: $gray;
$color__border-abbr: $darkgray;